@mixin center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin minHeight($height) {
  min-height: calc(100vh - $height);
}

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
